<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="/css/1.css"> -->
  <!-- <script src="/js/1.js"></script> -->

  <!-- 主要是为了能有个路径的智能提示，这样，不容易把URL地址写错 -->
  <link rel="stylesheet" href="/assets/css/1.css">
  <script src="/assets/js/1.js"></script>
</head>

<body>
  <h1>哈哈哈哈，俊哥真帅！   -  高婆婆</h1>
</body>

</html>