<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="../assets/css/index2.css"> -->
  <link rel="stylesheet" href="/q/w/e/1.css">
  <!-- 1. 首先，  ./ 表示一个相对路径， 既然是一个相对路径，那么，就可以和其它路径拼接，从而得到一个绝对路径 -->
  <!-- 2.  /   在浏览器中，表示绝对路径的意思，浏览器只要发现，这个资源的路径，是以 / 开头的，就会直接 从端口号后面，来请求这个绝对路径，这样就不会做路径的拼接了 -->
  <!-- 3. 由于 ./    和   ../  或者  不带路径前缀的 URL地址，都是相对路径，这种相对路径，会涉及到 路径的拼接，有时候，可能会导致路径的问题，因此，推荐大家在进行Node开发时候，直接 以 / 来请求资源文件 -->
</head>

<body>
  <h3>演示路径问题</h3>
</body>

</html>